body,html{
margin:0;
height:100%;
font-family:Poppins;
}

/* FULL VIDEO COVER */
.bg-video{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
}

/* Overlay */
.overlay{
position:fixed;
width:100%;
height:100%;
background:linear-gradient(135deg,#ff006aa8,#000000cc);
z-index:-1;
}

/* Center Layout */
.main-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* Glass Box */
.glass-box{
backdrop-filter: blur(20px);
background: rgba(255,255,255,0.15);
padding:40px;
border-radius:25px;
box-shadow:0 0 40px rgba(255,0,120,0.4);
max-width:450px;
}

/* Title */
.glow-text{
color:white;
text-shadow:0 0 20px pink;
}

/* Buttons */
.btn-love{
background:linear-gradient(45deg,#ff006a,#ff8c00);
color:white;
border-radius:30px;
padding:10px 30px;
}

/* Carousel Images */
.memory-img{
width:100%;
height:260px;
object-fit:cover;
border-radius:20px;
box-shadow:0 0 20px pink;
}

/* Popup */
.popup{
display:none;
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
top:0;
left:0;
}

.popupContent{
background:white;
padding:25px;
width:320px;
margin:120px auto;
border-radius:20px;
text-align:center;
animation:popupAnim 0.5s ease;
}

@keyframes popupAnim{
from{transform:scale(0);}
to{transform:scale(1);}
}

.closeBtn{
cursor:pointer;
float:right;
font-size:22px;
}

/* Hanging Photo */
.hanging-photo{
position:relative;
display:inline-block;
margin-top:20px;
}

.hanging-photo img{
width:200px;
border-radius:15px;
border:5px solid white;
box-shadow:0 0 20px pink;
animation:swing 3s infinite ease-in-out;
}

.hanging-photo::before{
content:"";
width:2px;
height:40px;
background:black;
position:absolute;
top:-40px;
left:50%;
}

@keyframes swing{
0%{transform:rotate(-3deg);}
50%{transform:rotate(3deg);}
100%{transform:rotate(-3deg);}
}

.love-note{
margin-top:10px;
font-style:italic;
}
